<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key><string>Jewellery TryOn</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>jewellery_tryon</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleVersion</key><string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>NSCameraUsageDescription</key>
    <string>Jewellery TryOn needs camera access so you can take a selfie to try on jewellery.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Jewellery TryOn needs photo library access to select your photo or a jewellery image.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Jewellery TryOn needs permission to save your generated try-on image.</string>
    <key>UIRequiredDeviceCapabilities</key><array><string>arm64</string></array>
    <key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string></array>
    <key>CADisableMinimumFrameDurationOnPhone</key><true/>
    <key>UIApplicationSupportsIndirectInputEvents</key><true/>
</dict>
</plist>
